.body{ margin:0;
     padding:0; 
     font-family: Arial, sans-serif;
      background:#f8f8f8; }

 .image-section{ width:100%;
     max-width:1200px; 
     margin:50px ; 
     display:grid; 
     grid-template-columns: repeat(4, 500px);
      gap:25px; }

 .img-box{ width:100%; 
    height:500px;
     
       background:#fff; }

.img-box img{ width:100%; 
    height:100%; 
     border-radius:20 px ;
    }
